.cpanel {
  font-family: 'Oxygen', sans-serif;
  position: fixed;
  bottom: 5vh;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cpanel__group {
  font-size: 13px;
  border: 1px solid #e0e3e7;
  border-radius: 3px;
  padding: 12px;
  height: 48px;
  margin: 0 10px;
}

.cpanel input {
  appearance: none;
  border: none;
  font-size: 24px;
}


.cpanel__label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
