.flash__message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 30px 15px 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #cccccc;
  position: relative;
}

.flash__message.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.flash__message.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.flash__message.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.flash__message.info {
  color: #37516A;
  background-color: #F2F5FE;
  border-color: rgb(223, 227, 240);
}

.flash__close-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0px;
  right: 0px;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 10px;
  margin: 0;
  padding: 8px;
}

.flash__close-button:active,.flash__close-button:focus {
  outline: none;
}
